{% extends "base.html" %}
{% load static %}

{% block title %}Detail{% endblock %}

{% block js %}
<script src="{% static 'js/like.js' %}"></script>{% endblock %}

{% block content %}
<h1>Tweet詳細</h1>
<p><a href="{% url 'accounts:user_profile' tweet.user %}">{{ tweet.user }}</a> {{ tweet.created_at }}</p>
<p>{{ tweet.content }}</p>
<p>
    {% if tweet in liking_tweet_list %}
    <button onclick="changeLike(event)" data-is-liked="true" data-pk="{{ tweet.pk }}">❤︎</button>
    {% else %}
    <button onclick="changeLike(event)" data-is-liked="false" data-pk="{{ tweet.pk }}">♡</button>
    {% endif %}
    <span id="{{ tweet.pk }}">{{ tweet.liked_by.count }}</span>
    {% if request.user == tweet.user %}<a href="{% url 'tweets:delete' tweet.pk %}">削除</a>{% endif %}
</p>
{% endblock %}
