<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Twitter Clone{% endblock %}</title>
</head>

<body>
  <header>
    {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">ログアウト</a>
    <a href="{% url 'accounts:user_profile' request.user %}">プロフィール</a>
    <a href="{% url 'tweets:home' %}">ホーム</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">ログイン</a>
    <a href="{% url 'accounts:signup' %}">登録</a>
    {% endif %}
  </header>
  <div>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  <div>
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>
